
body {
    justify-content: center;
    background: radial-gradient(circle,#088d99, #0a49a4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 4em;
}


.title {
    font-size: 1.3em;
    text-align: center;
}

.images {
    display: flex;
}

.bear {
    transition: .5s;
    animation: leftandright 10s ease-in-out;
    z-index: 2;
    height: 6em;
    margin: 0 auto;
}

.bear:hover {
    filter: drop-shadow(0 0 1rem #ffffff85);
    transform: scale(1.2);
}



.typebear {
    opacity: 0;
    animation: rightandleft 8s ease-in-out;
    z-index: 1;
    transform: translate(59px, 33px);
    position: absolute;
    width: 8em;
    height: auto;
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.animarBtn, .copyBtn, .shareBtn {
    transition: .3s;

}   

.responseBtn button {
    box-shadow: 5px 5px 15px #00000049;
}

.animarBtn:hover, .copyBtn:hover, .shareBtn:hover, #copySpan:hover {
    transform: translate(-5px, -5px);    
    box-shadow: 5px 5px 0px #00000049;
    background-color: #8bc30a;
    color: rgb(255, 255, 255);
}

.form {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.549);
    color: #f5f5f5;
    border-radius: 8px;
    background-color: #19234bb6;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    padding: 1em;
}

button {
    margin-top: 10px;
    max-width: 200px;
    background-color: #fcd228;
}

.btn {
    border: none;
    background-color: #fcd228;
    color: #19234b;
}

input {
    background-color: #ffffff37;
    color: white;
    text-align: center;
    border-radius: 8px;
    outline: none;
    border: none;
   width: 100%;
}

input[type="text"] {
    padding: 6px;
    margin: 0 auto;
    
}



label {
    font-weight: 500;
}


#responseDiv {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.549);
    display: none;
    border-radius: 8px;
    padding: 10px;
    color: #f5f5f5;
    background-color: #19234bd2;
    margin-top: 1em;
    text-align: center;
    max-width: 500px;
}

#spinner {
    animation: spin 1s linear infinite;

}


.interessesDiv, .emocoesDiv, .personasDiv {

    z-index: 2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.549);
    color: #19234b;
    font-weight: bold;
    position: absolute;
    height: 0;
    margin: 0 auto;
    width: fit-content;
    overflow: hidden;
    transition: .2s;
    display: block;
}

@keyframes spin {
    
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes leftandright {
    
    0% {
        transform: translateX(0px);

    }

   33% {
        transform: translateX(-76px);

    }
}


@keyframes rightandleft {
    
  20% {
      opacity: 0;
  }
   30% {
      opacity: 1;    
    }
    95% {
        opacity: 1;
    }
}

#copySpan {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    position: fixed;
    bottom: 5%;
}

.buttons button {
    width: 100px;
    height: 50px;
}

.image {
    height: 100%;
}

.selectedPersona, .selectedEmotion, .selectedInteresse  {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    border-collapse: separate;
    background-color: #b9b9b937;
    justify-content: space-between;
}

li i {
    transition: .3s;
    z-index: 1;
    margin: 5px;
}

li {
    width: 100%;
    border-collapse: collapse;
}

li:hover {
    cursor: pointer;
    background-color: #19234b;
    color: #f5f5f5;
}

ul {
    list-style: none;
    border-collapse: collapse;
    width: 9em;
}

.interesse, .emocao, .persona {
    z-index: 3;
    width: 9em;
    background-color: #c3a21f;
    transition: height .3s;
    text-align: left;
    padding: 7px;
}

.interesse:first-child, .emocao:first-child, .persona:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.interesse:last-child, .emocao:last-child, .persona:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media screen and (max-width: 600px) {

    .form {
        width: 90%;
    }

    #name, #objetivo {
        width: 90%;
    }

    select {
        padding: 5px;
        margin: 0 auto;
        max-width: 90%;
        border-radius: 8px;
        outline: none;
        border: none;
    }

    #responseDiv {            
        max-width: 90%;
    }

    #estadoEmocional, #areaInteresse, #persona {
    
        padding: 3px;
    }

    .interessesDiv, .emocoesDiv, .personasDiv {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.549);
        color: #19234b;
        font-weight: bold;
        position: absolute;
        height: 0;
        margin: 0 auto;
        width: fit-content;
        overflow: hidden;
        transition: .2s;
        display: block;
    }
    

}