
body {
    justify-content: center;
    background-color: #a1a1a1;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
}

.form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.293), 0 6px 20px 0 rgba(0, 0, 0, 0.276);
    color: #f5f5f5;
    border-radius: 8px;
    background-color: rgb(63, 63, 63);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 1em;
}

button {
    margin-top: 10px;
    max-width: 200px;
}

input {
    text-align: center;
    padding: 2px;
    border-radius: 8px;
    outline: none;
    border: none;
    max-width: 90%;
}

select {
    padding: 5px;
    margin: 0 auto;
    max-width: 50%;
    border-radius: 8px;
    outline: none;
    border: none;
}

input[type="number"] {
    
    margin: 0 auto;
    max-width: 50%;
}

#responseDiv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: none;
    border-radius: 8px;
    padding: 10px;
    color: #f5f5f5;
    background-color: rgb(63, 63, 63);
    margin-top: 1em;
    text-align: center;
    max-width: 500px;
}



#responseDiv i {

    animation: spin 1s linear infinite;
}

@keyframes spin {
    
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {

    .form {
        width: 90%;
    }

    select {
        padding: 5px;
        margin: 0 auto;
        max-width: 90%;
        border-radius: 8px;
        outline: none;
        border: none;
    }
    

}