
body {
    justify-content: center;
    background-color: #818181;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 4em;
    padding-bottom: 2em ;
}

h2 {
    font-size: 4em;
    text-align: center;
}

.bear {
    animation: leftandright 10s ease-in-out infinite;

    height: 6em;
    margin: 0 auto;
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.animarBtn, .copyBtn, .shareBtn {
    transition: .3s;

}   

.animarBtn:hover, .copyBtn:hover, .shareBtn:hover {
    transform: translate(-5px, -5px);    
    box-shadow: 5px 5px 0px #00000049;
    background-color: #dd1153;
    color: rgb(255, 255, 255);
}

.form {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.549);
    color: #f5f5f5;
    border-radius: 8px;
    background-color: #19234bd2;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    padding: 1em;
}

button {
    margin-top: 10px;
    max-width: 200px;
    background-color: #f99c01;
}

.btn {
    
    background-color: #f99c01;
    color: #19234b;
}

input {
    background-color: #ffffff37;
    color: white;
    text-align: center;
    border-radius: 8px;
    outline: none;
    border: none;
    max-width: 90%;
}

input[type="text"] {
    padding: 3px;
    margin: 0 auto;
    max-width: 90%;
}

select {
    color: white;
    padding: 5px;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 8px;
    outline: none;
    border: none;
}

label {
    font-weight: 500;
}

select option {
    font-weight: 600;
    color: #19234b;
    background-color: #f99c01;
}

input[type="number"] {
    
    margin: 0 auto;
    max-width: 90%;
}

#responseDiv {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.549);
    display: none;
    border-radius: 8px;
    padding: 10px;
    color: #f5f5f5;
    background-color: #19234bd2;
    margin-top: 1em;
    text-align: center;
    max-width: 500px;
}




#spinner {
    animation: spin 1s linear infinite;

}

@keyframes spin {
    
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes leftandright {
    
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(100px);
    }

    66% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }

}

.buttons {
    display: none;
    visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5em;
}

.copyIcon{
    display: none;
    cursor: pointer;
    transition: .3s;
    position: relative;
    right: 1%;
}


.copyIcon:hover {
    color: #ffffff37;
}


.buttons button {
    width: 100px;
    height: 50px;
}

.image {
    height: 100%;
}

#estadoEmocional, #areaInteresse, #persona {
    background-color: #ffffff37;
    padding: 3px;
}

@media screen and (max-width: 600px) {

    .form {
        width: 90%;
    }

    #name, #objetivo {
        width: 90%;
    }

    select {
        padding: 5px;
        margin: 0 auto;
        max-width: 90%;
        border-radius: 8px;
        outline: none;
        border: none;
    }

    #responseDiv {            
        max-width: 90%;
    }

    #estadoEmocional, #areaInteresse, #persona {
    
        padding: 3px;
    }
    

}